body {
    margin-top: 60px;
}

@media (max-width: 979px) {
    body {
        margin-top: 0;
    }
}

#profile-picture img {
    height: 40px;
}

#username {
    margin: 10px;
}

#skip {
    margin-top: 20px;
}
