<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>

        {% if debug %}
            <link href="/static/vendor/bootstrap/2.0.3/css/bootstrap.css" rel="stylesheet">
            <link href="/static/vendor/bootstrap/2.0.3/css/bootstrap-responsive.css" rel="stylesheet">
        {% else %}
            <link href="/static/vendor/bootstrap/2.0.3/css/bootstrap.min.css" rel="stylesheet">
            <link href="/static/vendor/bootstrap/2.0.3/css/bootstrap-responsive.min.css" rel="stylesheet">
        {% endif %}

        <link href="/static/core/css/pickagram.css" rel="stylesheet">
    </head>

    <body>
        <div id="header-wrapper">
            <div class="container" id="header">
                <div class="row">
                    <div align="center" class="span4 offset4">
                        <h1>
                            <a href="{% url core:home %}"><img src="/static/core/imgs/logo.png" alt="Pickagram"></a>
                        </h1>
                    </div>
                    <div class="span4">
                        {% if access_token %}
                            <div id="profile" class="pull-right">
                                <span id="picture">
                                    <img src="{{ access_token.1.profile_picture}}" alt="">
                                </span>
                                <span id="username">
                                    <strong>
                                        {{ access_token.1.username }}
                                    </strong>
                                </span>
                                <span id="logout">
                                    <a href="{% url core:oauth-logout %}">
                                        (Sign Out)
                                    </a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% block yield %}{% endblock %}

        <div id="footer-wrapper">
            <div class="container" id="footer">
                <div class="row">
                    <div class="span12" align="center">
                        <p>&copy;{% now "Y"%} Design & Product by <a href="http://conwayanderson.com/">Conway
                            Anderson</a> | Development by <a href="http://isaacbythewood.com/">
                            Isaac Bythewood</a></p>
                    </div>
                </div>
            </div>
        </div>

        {% if debug %}
            <script src="/static/vendor/jquery/1.7.2/jquery.js"></script>
            <script src="/static/vendor/bootstrap/2.0.3/js/bootstrap.js"></script>
        {% else %}
            <script src="/static/vendor/jquery/1.7.2/jquery.min.js"></script>
            <script src="/static/vendor/bootstrap/2.0.3/js/bootstrap.min.js"></script>
        {% endif %}
    </body>
</html>
