{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block yield %}
    <div class="container">
        <div class="row">
            <div class="span6 offset3" align="center">
                <h1>Pickagram</h1>
                <p>You must authenticate using your Instagram credentails to
                    play Pickagram.</p>
                <a href="{{ instagram_oauth_url }}" class="btn btn-large btn-primary">
                    Get Started!
                </a>
            </div>
        </div>
    </div>
{% endblock %}
