{% extends 'core/base.html' %}

{% block title %}Pickagram{% endblock %}

{% block yield %}
    {% if not access_token %}
        <div class="container" id="helper">
            <div class="row">
                <div class="span12" align="center">
                    <h1>An easy and fun way to like photos on Instagram</h1>
                    <p>
                        <a href="{{ instagram_oauth_url }}">
                            <img src="/static/core/imgs/test-bar.png" alt="Sign in with Instagram">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container" id="images">
        <div class="row">
            {% for item in popular %}
                <div class="span6">
                    <div class="popular-image">
                        <a href="{% url core:like item.id %}">
                            <img src="{{ item.images.standard_resolution.url }}" alt="">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
